repositories:
  - name: bitnami
    url: https://mirror.yandex.ru/helm/charts.bitnami.com
  - name: ingress-nginx
    url: https://kubernetes.github.io/ingress-nginx

environments:
  local:
    values:
      - environments/{{ .Environment.Name }}/values.yaml.gotmpl

helmDefaults:
  timeout: 600
  
releases:
  - name: ingress-nginx
    labels:
      app: ingress-nginx
    wait: true
    chart: ingress-nginx/ingress-nginx
    version: 4.10.1
    values:
      - values-ingress-nginx.yaml.gotmpl

  - name: postgresql
    namespace: default
    labels:
      app: postgresql
    wait: true
    chart: bitnami/postgresql
    version: 12.2.7
    values:
      - values-postgre.yaml.gotmpl

  - name: auth-api
    labels:
      app: auth-api
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - inner-circle-accounts-api
      - inner-circle-email-sender
      - inner-circle-employees-api
      - postgresql
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/auth-api.git@/Api/ci/values-local-env.yaml?ref=master
      - values.yaml.gotmpl
      - values-auth-api.yaml.gotmpl

  - name: inner-circle-accounts-api
    labels:
      app: inner-circle-accounts-api
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - inner-circle-employees-api
      - postgresql
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/accounts-api.git@/Api/ci/values-local-env.yaml?ref={{ env "ACCOUNTS_API_BRANCH" | default "master" }}
      - values.yaml.gotmpl
      - values-accounts-api.yaml.gotmpl

  - name: inner-circle-documents-api
    labels:
      app: inner-circle-documents-api
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - inner-circle-employees-api
      - inner-circle-email-sender
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/inner-circle-documents-api.git@/Api/ci/values-local-env.yaml?ref=master
      - values.yaml.gotmpl
      - values-documents-api.yaml.gotmpl

  - name: inner-circle-compensations-api
    labels:
      app: inner-circle-compensations-api
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - inner-circle-employees-api
      - postgresql
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/inner-circle-compensations-api.git@/Api/ci/values-local-env.yaml?ref=master
      - values.yaml.gotmpl
      - values-compensations-api.yaml.gotmpl

  - name: inner-circle-employees-api
    labels:
      app: inner-circle-employees-api
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - postgresql
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/inner-circle-employees-api.git@/Api/ci/values-local-env.yaml?ref=master
      - values.yaml.gotmpl
      - values-employees-api.yaml.gotmpl
  
  - name: inner-circle-books-api
    labels:
      app: inner-circle-books-api
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - inner-circle-employees-api
      - postgresql
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/inner-circle-books-api.git@/Api/ci/values-local-env.yaml?ref=master
      - values.yaml.gotmpl
      - values-books-api.yaml.gotmpl

  - name: inner-circle-items-api
    labels:
      app: inner-circle-items-api
    wait: true
    chart: bitnami/aspnet-core
    version: 4.4.7
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - inner-circle-employees-api
      - postgresql
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/inner-circle-items-api.git@/ci/values.yaml?ref=master
      - values.yaml.gotmpl
      - values-items-api.yaml.gotmpl

  - name: inner-circle-email-sender
    labels:
      app: inner-circle-email-sender
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/inner-circle-email-sender.git@/Api/ci/values-local-env.yaml?ref=master
      - values.yaml.gotmpl
      - values-email-sender.yaml.gotmpl

  - name: inner-circle-auth-ui
    labels:
      app: inner-circle-auth-ui
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - auth-api
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/auth-ui.git@/ci/values-local-env.yaml?ref=master
      - values.yaml.gotmpl
      - values-auth-ui.yaml.gotmpl

  - name: inner-circle-accounts-ui
    labels:
      app: inner-circle-accounts-ui
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - inner-circle-accounts-api
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/accounts-ui.git@/ci/values-local-env.yaml?ref=master
      - values.yaml.gotmpl
      - values-accounts-ui.yaml.gotmpl

  - name: inner-circle-documents-ui
    labels:
      app: inner-circle-documents-ui
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - inner-circle-documents-api
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/inner-circle-documents-ui.git@/ci/values-local-env.yaml?ref=master
      - values.yaml.gotmpl
      - values-documents-ui.yaml.gotmpl

  - name: inner-circle-compensations-ui
    labels:
      app: inner-circle-compensations-ui
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - inner-circle-compensations-api
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/inner-circle-compensations-ui.git@/ci/values-local-env.yaml?ref=master
      - values.yaml.gotmpl
      - values-compensations-ui.yaml.gotmpl

  - name: inner-circle-ui
    labels:
      app: inner-circle-ui
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - inner-circle-employees-api
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/inner-circle-ui.git@/ci/values.yaml?ref=master
      - values.yaml.gotmpl
      - values-ui.yaml.gotmpl

  - name: inner-circle-layout-ui
    labels:
      app: inner-circle-layout-ui
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/inner-circle-layout-ui.git@/ci/values-local-env.yaml?ref=master
      - values.yaml.gotmpl
      - values-layout-ui.yaml.gotmpl

  - name: inner-circle-books-ui
    labels:
      app: inner-circle-books-ui
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - inner-circle-books-api
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/inner-circle-books-ui.git@/ci/values-local-env.yaml?ref=master
      - values.yaml.gotmpl
      - values-books-ui.yaml.gotmpl

  - name: inner-circle-time-ui
    labels:
      app: inner-circle-time-ui
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      # - inner-circle-time-api
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/inner-circle-time-ui.git@/ci/values.yaml?ref=master
      - values.yaml.gotmpl
      - values-time-ui.yaml.gotmpl

  - name: create-test-accounts
    chart: ./jobs
    labels:
      app: create-test-accounts
    needs:
      - auth-api
      - inner-circle-accounts-api
    hooks:
      - events: ["prepare"]
        showlogs: true
        command: "sh"
        # build docker image and load it to cluster
        args: ["-c", "docker build -t create-test-accounts-for-local-env:0.0.1 ./jobs && kind load docker-image create-test-accounts-for-local-env:0.0.1 -n inner-circle"]