extraConfigMapEnvVars:
    ConnectionStrings__DefaultConnection: "Host=postgresql;port=5432;Database={{ .Values.documentsDbName }};Username={{ .Values.postgresUsername }};Password={{ .Values.postgresPassword }}"
    AuthenticationOptions__PublicSigningKey: "{{ .Values.publicSigningKey }}"
    InnerCircleServiceUrls__EmployeesServiceUrl: "{{ .Values.employeesServiceUrl }}"
    InnerCircleServiceUrls__EmailSenderServiceUrl: "{{ .Values.mailServiceUrl }}"