extraConfigMapEnvVars:
    ConnectionStrings__DefaultConnection: "Host=postgresql;port=5432;Database={{ .Values.authDbName }};Username={{ .Values.postgresUsername }};Password={{ .Values.postgresPassword }}"
    AuthenticationOptions__PublicSigningKey: "{{ .Values.publicSigningKey }}"
    AuthenticationOptions__PrivateSigningKey: "{{ .Values.privateSigningKey }}"
    InnerCircleServiceUrls__MailServiceUrl: "{{ .Values.mailServiceUrl }}"
    InnerCircleServiceUrls__AuthUIServiceUrl: "{{ .Values.authUiServiceUrl }}"
    InnerCircleServiceUrls__AccountsServiceUrl: "{{ .Values.accountsServiceUrl }}"