image:
  tag: "latest"

extraConfigMapEnvVars:
  API_ROOT: "\"{{ .Values.baseExternalUrl }}/api\""
  API_ROOT_AUTH: "\"{{ .Values.baseExternalUrl }}/api/auth\""
  LINK_TO_EMPLOYEES_SERVICE: "\"/employees/\""
  LINK_TO_ACCOUNT_SERVICE: "\"/account-management/\""
  VITE_BASE_URL: "\"{{ .Values.baseExternalUrl }}\""