extraConfigMapEnvVars:
    ConnectionStrings__DefaultConnection: "Host=postgresql;port=5432;Database={{ .Values.compensationsDbName }};Username={{ .Values.postgresUsername }};Password={{ .Values.postgresPassword }}"
    AuthenticationOptions__PublicSigningKey: "{{ .Values.publicSigningKey }}"
    InnerCircleServiceUrls__SalaryServiceUrl: "{{ .Values.salaryServiceUrl }}"