extraConfigMapEnvVars:
  API_ROOT: "\"{{ .Values.baseExternalUrl }}/api\""
  API_ROOT_AUTH: "\"{{ .Values.baseExternalUrl }}/api/auth\""
  LINK_TO_BOOKS_SERVICE: "\"/books/\""
  BASE_URL: "\"{{ .Values.baseExternalUrl }}\""