image:
  tag: "latest"

extraConfigMapEnvVars:
  ENV_KEY: "\"dev\""
  API_ROOT: "\"/api\""
  API_ROOT_AUTH: "\"/api/auth\""
  LINK_TO_EMPLOYEES_SERVICE: "\"/employees/\""
  LINK_TO_DOCUMENTS_SERVICE: "\"/documents/\""