image:
  tag: "sha-a2673947095d2ed9e4c6ae50c640c0d9d0e0a6cd "

extraConfigMapEnvVars:
  API_ROOT_URL: "{{ .Values.baseExternalUrl }}/api/invoices"
  AUTH_API_ROOT_URL: "{{ .Values.baseExternalUrl }}/api/auth"