image:
  tag: "sha-f92f5db77d1888f89c7ba9a2d14b95bf9f7ffc19"

extraConfigMapEnvVars:
  API_ROOT_URL: "{{ .Values.baseExternalUrl }}/api/time"
  AUTH_API_ROOT_URL: "{{ .Values.baseExternalUrl }}/api/auth"