# for images that build in pipeline using specific sha commit
image:
 registry: ghcr.io
 repository: "tourmalinecore/inner-circle-layout-ui"
 # Write tag of your image for deploy (change only symbols after "sha-")
 #tag: "sha-f1c1e64bcb3401f602ac3b2afdf6066c6e2d4876"

# for local build images
# use command for give this image to kind cluster: 
# kind load docker-image my-layout:0.0.1 --name inner-circle
#image:
# registry: ""
# repository: "my-layout"
# tag: "0.0.15"
# pullPolicy: "Never"
