image:
  tag: "latest"

extraConfigMapEnvVars:
  API_ROOT_URL: "\"{{ .Values.baseExternalUrl }}/api\""
  AUTH_API_ROOT_URL: "\"{{ .Values.baseExternalUrl }}/api/auth\""
  LINK_TO_TIME_SERVICE: "\"/time/\""