image:
 registry: ghcr.io
 repository: "tourmalinecore/inner-circle-layout-ui"
 # Write tag of your image for deploy (change only symbols after "sha-")
 tag: "sha-0605e19931abc5c836d50e090733389ed867824b"