image:
  tag: "latest"

extraConfigMapEnvVars:
  ASPNETCORE_HTTP_PORTS: "80"
  AuthenticationOptions__IsDebugTokenEnabled: "false"
  ExternalDepsUrls__EmployeesApiRootUrl: "{{ .Values.employeesServiceUrl }}"
  ENABLE_EXCEPTION_DETAILS: "true"

extraSecretEnvVars:
  ConnectionStrings__DefaultConnection: "Host=postgresql;port=5432;Database=time-db;Username={{ .Values.postgresUsername }};Password={{ .Values.postgresPassword }}"
  AuthenticationOptions__PublicSigningKey: "{{ .Values.publicSigningKey }}"
