image:
  tag: "sha-82ae737e1d6e5f227fce50b33b6d778d4738301c"

extraConfigMapEnvVars:
  API_ROOT_URL: "{{ .Values.baseExternalUrl }}/api/time"
  AUTH_API_ROOT_URL: "{{ .Values.baseExternalUrl }}/api/auth"