extraConfigMapEnvVars:
    ConnectionStrings__DefaultConnection: "Host=postgresql;port=5432;Database={{ .Values.financesDbName }};Username={{ .Values.postgresUsername }};Password={{ .Values.postgresPassword }}"
    AuthenticationOptions__PublicSigningKey: "{{ .Values.publicSigningKey }}"